.tweet-link, .tweet-link:hover, .retweet-link, .retweet-link:hover {
    color: black;
    display: block;
}

.tweet-link:hover {
    text-decoration: none;
    background-color: lightgrey;
}

.retweet-link:hover {
    text-decoration: none;
}